div {
	position: relative;
	float: left;
}

h1{
	text-align: center;

}
/* sign up content*/
.signup{
	width: 100%;
	float: right;
	height: 45px;
	background-color: green;
}
	

.picbackground {
	position: relative;
	width: 100%;
	height: 650px;
	
}
/*banner*/
.banner{
	width: 100%;
	height: 375px;
	background-color: red;
}

#logo {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/*nav bar*/
.navbar{
	width: 100%;
	height: 60px;
	float: right;
	padding: 0px;
	display: block;
	background-color: #ddd
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li{
	float: right;
	display: in-line;
	background-color: #dddddd;
	line-height: 25px;
	width: 10%;
	margin: 15px 5%;
	min-width: auto;
}

/*content*/
.content{
	width:100%;
	height: 1000px;
}
.sidepanel{
	width: 20%;
	height: 100%;
	background-color: yellow;
}
.centerpanel{
	width: 60%;
	height: 100%;
	background-color:black;
}
